# Ignore les fichiers générés par Power BI Desktop (non nécessaires pour le versioning)
*/pbi/localSettings.json
*/pbi/Connections.json
*/pbi/DataModelSchema

# Ignore les fichiers temporaires de Power BI
*.tmp
*.bak
*.pbix
*.pbit

# Fichiers système et IDE
.DS_Store
Thumbs.db
desktop.ini
.vscode/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates

# Fichiers de logs
*.log

# Dépendances ou environnements locaux
node_modules/
__pycache__/
.env
.venv/
